body{
  background-color: #F9F9F9;
  width: 1000px;
}

.box-general{
  width: 900px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 50px;
}


h1{
  margin: 20px;
}

/*top menu*/

.menu{
  background: #464545;
  background: -webkit-linear-gradient(top, #5E5E5E, #444343);
  background: -moz-linear-gradient(bottom, #5E5E5E, #444343);
  height: 20px;
  margin: 20px;
  padding: 15px;
}

.menu a{
  color: white;
  text-decoration: none;
  padding: 15px;
}



/*clearfix for flow*/
.box{
  zoom: 1;  /*to support IE*/
}

.box:before,
.box:after{
  content: " ";
  display: table;
}

.box::after{
  clear: both;
}

/*Left menu:*/

.bar{
  width: 300px;
  float: left;
  margin: 20px;

}

.bar div{
  border: solid grey 1px;
  border-bottom: 0px;
  padding: 10px 20px;

}

.bar div:last-child{
  border-bottom: solid grey 1px;
}

div a{
  text-decoration: none;
  color: black;
}

/*right column*/

.image{
  float: right;
  margin: 20px 20px 20px 20px;
  width: 500px;
}

.image img{
  width: 500px;
  height: 300px;
  position: relative;
  border: solid grey 1px;
}

p{
  padding: 10px;
}

/*footer*/
.footer{
  background-color: #E1E1E1;
  padding: 10px 20px;

}

.footer a{
  padding-right: 50px;
  color: #2C2C2C;
}

.footer span{
  padding-left: 250px;
  color: #2C2C2C;
}
/*Hover:*/
a:hover{
  text-decoration: underline;
  /*border-bottom: 1px solid #686868;*/
}

.menu a:hover{
  background-color: #3C3C3C;
  background: -webkit-linear-gradient(top, #4A4A4A, #2E2E2E);
  background: -moz-linear-gradient(bottom, #4A4A4A, #2E2E2E);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

/*no left board with the left element in the menu. Works if replace .menu with div*/
/*.menu:first-child a:hover{
  border-left: 0px;
}*/

.bar div:hover{
  background-color: #F9F9F9;
}
